.popup {
  display: flex;
  visibility: hidden;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 99999;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 1s 1s;
}

.popup::before {
  content: '';
  display: block;
  visibility: hidden;
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
}

.popup_is-opened {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}

.popup__container {
  width: 100%;
  max-width: 430px;
  background-color: #fff;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 36px;
  box-sizing: border-box;
  position: absolute;
}

.popup__close {
  width: 40px;
  height: 40px;
  position: absolute;
  top: -35px;
  right: -35px;
  background-image: url("../../../../images/close-Icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: hidden;
  background-size: 40px 40px;
}

.popup__close:hover {
  opacity: 0.6;
  cursor: pointer;
  transform: rotate(180deg);
  transition: linear 0.4s;
}

.popup__title {
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000;
  margin: 0;
  padding: 0;
}

.popup__input-form {
  display: flex;
  flex-direction: column;
  padding-top: 54px;
}

.popup__input-btn {
  background: #000;
  border-radius: 2px;
  height: 50px;
  width: 100%;
  color: #fff;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  box-sizing: border-box;
}

.popup__input-btn:hover {
  background: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

.popup__input-btn:disabled {
  border: 1px solid #000;
  opacity: 0.2;
  color: #000;
}

@media screen and (max-width: 640px) {
  .popup__container {
    width: 90%;
    margin: 0 auto;
  }

  .popup__close {
    right: -10px;
    top: -35px;
  }
}
