.movie-cards__button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto 80px;
}

.movie-cards__button-more {
  width: 100%;
  border: 1px solid #424242;
  border-radius: 4px;
  background: transparent;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #fff;
  width: 320px;
  height: 36px;
}

.movie-cards__button-more:hover {
  background-color: #424242;
}

@media screen and (min-width: 320px) and (max-width: 639px) {
  .movie-cards__button-more {
    width: 240px;
  }
}
